/* Устанавливаем общий шрифт для всего документа */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Устанавливаем box-sizing для всех элементов */
* {
  box-sizing: border-box;
}

/* Стили для полей ввода */
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
#role {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font: 1em Hind, sans-serif; /* Добавляем указание на шрифт */
  line-height: 1.5em;
}

/* Добавляем стили при фокусировке на полях ввода */
input[type=text]:focus,
input[type=password]:focus,
#role:focus {
  background-color: #ddd;
  outline: none;
}

/* Стили для кнопок */
button,
button2,
.cancelbtn,
.signupbtn,
.sort-menu button {
  background-color: #ffffff; /* Green */
  border: 1px solid #555555;
  color: #000000;
  padding: 10px 32px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/* Hover-эффект для кнопок */
button:hover,
button2:hover,
.cancelbtn:hover,
.signupbtn:hover,
.sort-menu button:hover {
  background-color: #04AA6D;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid #04AA6D;
}

/* Дополнительные стили для кнопки отмены */
.cancelbtn {
  background-color: #f44336;
}

/* Стили для контейнера */
.container2 {
  padding: 16px;
}

/* Стили для модального окна */
.modal {
  display: none; /* Скрываем по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

/* Стили для содержимого модального окна */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/* Стили для кнопки закрытия (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Очищаем floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Изменяем стили кнопок отмены и отправки на экранах с маленьким разрешением */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Стили для сортировочного меню */
.sort-menu {
  display: flex;
  align-items: center;
}

.sort-menu label {
  margin-right: 10px;
}

.sort-menu select,
.sort-menu button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.sort-menu select {
  margin-right: 8px;
}
